body {
  font-family: 'Roboto Slab', serif;
  background-image: url("../images/crystalcave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.heading {
  background-color: black;
  height: 110px;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 80px;
  font-weight: bold;
}

.container {
  background-color: black;
}

img {
  width: 200px;
}

.score {
  height: 200px;
  background-color: rgb(97, 144, 158);
}

button {
  background-color: black;
  border: none;
}

.displayedScores {
  font-size: 80px;
  text-align: center;
  font-family: 'Megrim', cursive;
}

#winScore, #lossesScore {
  font-size: 30px;
}

.card {
  background-color: rgb(97, 144, 158);
  color: white;
  width: 445px;
  height: 175px;
}

.btn-primary {
  background-color: black;
  color: white;
  border-color: white;
}

.btn-primary:hover {
  background-color: rgb(97, 144, 158);
  border-color: white;
}

#collapseExample {
  position: absolute;
  z-index: 1;
}

.crystals:focus {
  outline: none;
}

.crystals:hover {
  border: 2px solid rgb(97, 144, 158);
}

.btn-primary {
  font-size: 18px;
}


